body{
    text-align: center;
    background: url("./images/header_bg.jpg") fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
image.center{
    display: block;
}
a.curentpage{
    color: rgba(160, 160, 160, 0.8)
}
a{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 3%;
    margin-right: 3%;
}
span.icontekst{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.8); 
    font-size: 50%;
}
p.box{
   
    height: 50px;
    
    background-color: white;
}


