body{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.5);
   
    text-align: center;
    background: url("./images/header_bg.jpg") fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
image.center{
align-content: center;
display: block;
float: center;

}
a.curentpage{
    font-family: 'Roboto', sans-serif;
    color: rgb(110, 110, 110);
    float: center;
    margin-left: 3%;
    margin-right: 3%;
}
a{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    float: center;
    margin-left: 3%;
    margin-right: 3%;
}


